apiVersion: apps/v1
kind: Deployment
metadata:
  name: register-app-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: register-app
  template:
    metadata:
      labels:
        app: register-app
    spec:
      containers:
        - name: register-app
          image: ashfaque9x/register-app-pipeline:1.0.0-9
          ports:
            - containerPort: 8080
          # Empty resources map is safer than 'null'
          resources: {}
